header{
	background-color: #f8f8f8;

}
header a,header ul{

	margin :0;

	
}
header a,header li{
	padding: 10px;
	color: #777;
	font-weight: bold;
	
	font-size: 18px
}
section#intro-header {
background-image: url(../img/landscape.jpg);
background-size: cover;
}
section#intro-header .wrap-headline {
position: relative;
padding-top: 20%;
padding-bottom: 20%;
}
section#intro-header h1,
section#intro-header h2 {
color: #FFF;
}
section#intro-header h2 {
font-size: 1.5rem;
}
section#intro-header hr {
width: 40%; 
}
section#intro-header .btn-default {
background-color: rgba(255, 255, 255, 0.5);
border: none;
}
section#about img {
margin-top: 6.5rem;
margin-bottom: 5rem;
}
section#about h3 {
margin-top: 10rem;
}
section#features {
background-color: #eef2f5;
border-top: 0.1rem solid #e9e9e9;
border-bottom: 0.1rem solid #e9e9e9;
}
section#features * {
color: #657C8E;
}
section#features .feature {
padding-top: 2rem;
padding-bottom: 4rem;
text-align: center;
}
section#features {
background-color: #eef2f5;
border-top: 0.1rem solid #e9e9e9;
border-bottom: 0.1rem solid #e9e9e9;
}
section#features * {
color: #657C8E;
}
section#features .feature {
padding-top: 2rem;
padding-bottom: 4rem;
text-align: center;
}
footer {
background-color: #191919;
color: #ADADAD;
margin-top: 3em;
}
footer h4,
footer img {
margin-top: 5em;
font-weight: bold;
}
footer address {
margin-top: 5em;
margin-bottom: 5em;
color: #5A5A5A;
}
footer ul {
margin-bottom: 5em;
}
footer address strong {
color: #ADADAD;
display: block;
padding-bottom: 0.62em;
}
footer a {
font-weight: 300;
color: #5A5A5A;
}
footer a:hover {
text-decoration: none;
color: #FFF;
}